<div class="bg-blue-100 rounded p-3 flex flex-col justify-between space-y-2 ">
  <%= link_to(@tweet) do %>
    <pre class="text-lg"><%= @tweet.content %></pre>
  <% end %>
  <div class="flex flex-row justify-end space-x-3">
    <div><%= button_to 'Edit', edit_tweet_path(@tweet), method: :get, class: "btn btn-white" %></div>
    <div><%= button_to 'Delete', @tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-white" %></div>
  </div>
</div>
